*.o
*.so
*.dylib
*.dSYM
*.a
honggfuzz
Makefile.bak
hfuzz_cc/hfuzz-cc
mac/mach_exc.h
mac/mach_excUser.c
mac/mach_excServer.h
mac/mach_excServer.c
libs
obj
examples/badcode/targets/badcode1
examples/badcode/targets/badcode2
