[submodule "third_party/android/capstone"]
	path = third_party/android/capstone
	url = https://github.com/aquynh/capstone
	branch = 4.0.2
[submodule "third_party/android/libunwind"]
	path = third_party/android/libunwind
	url = https://github.com/libunwind/libunwind.git
	branch = v1.6.2
