[submodule "third_party/android/capstone"]
	path = third_party/android/capstone
	url = https://github.com/aquynh/capstone
	branch = 3.0.4
[submodule "third_party/android/libunwind"]
	path = third_party/android/libunwind
	url = git://git.sv.gnu.org/libunwind.git
	branch = master
